<nav class="navbar navbar-dark custom-black-bg">
  <div class="container-md d-flex align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/static/images/ds_logo_3.jpeg"
     alt="Logo"
     width="auto"
     height="50"
     class=""
     style="object-fit: contain; margin-right: 10px;">
      <span class="fs-4 brand-name" >DiamondSavior AI Assistant</span>
      <img src="/static/images/dragon_logo_1.jpeg"
     alt="Logo"
     width="auto"
     height="50"
     class=""
     style="object-fit: contain; margin-left: 10px;">
    </a>
<!--    <a class="btn btn-light" type="button" href="/image">Image Generator</a>-->
    <div class="btn-group">
      <button type="button" class="btn btn-outline-success dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false">
        Change Chatbot
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Chatbot</a></li>
        <li><a class="dropdown-item" href="/image">Image Generator</a></li>
      </ul>
    </div>
  </div>
</nav>